h1 {
  padding-left: 20px;
}
h3 {
  margin-left: 40px;
}
.survey {
  /* background-color: red; */
  height: 500px;
  margin-left: 60px;
}
.main_m {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 500px;
}
.result_m {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 500px;
}
p{
  margin: 0;
}
